@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout_new.cshtml";
}

<div class="row">
    <div class="col-xl-12 display-4 ml-2 mt-4 ml-md-5 mt-md-5">Sernia Developer</div>
    <div class="col-md-7 col-12 text-md-right text-right pt-1 pb-4 pb-md-5" style="font-size: 18px;">Welcome To Sernia Development Site</div>
</div>
<div class="row">
    <div class="col-md-8 col-12 p-1 mb-1 mainTopContents">
        <div class="list-group box">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start accordion">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">List group item heading</h6>
                    <small class="py-1 px-2 bg-info text-white ">C#</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small>2018/01/01</small>
            </a>
        </div>
    </div>

    <div class="col-md-4 col-12 p-1 mb-1 mainTopContents"><div class="box">Sernia Developer</div></div>
</div>
<br />
