@model IEnumerable<serniaMVC.Models.devHistory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section fontCss{
    @Styles.Render("http://fonts.googleapis.com/css?family=Raleway:400,500,600")
    @Styles.Render("~/Content/index.css")
}
<div class="topHeader">
    <div class="logo">
        <div class="logo1">Sernia...</div>
        <div class="logo2">Web Developer</div>
        <div class="logo3">Welcome To Sernia Web Development Site</div>
    </div>
    <div class="topMenu">
        <ul class="ulTopMenu">
            <li>sernia</li>
            <li>develop</li>
            <li>news</li>
            <li>devSite</li>
        </ul>
    </div>
</div>

@*@HttpContext.GetGlobalResourceObject("index", "Title")*@
<div style="clear: both;"></div>
<br /><br />
@section scripts{
    @Scripts.Render("~/bundles/index")
}