@*<ul>
    <li>H</li>
    <li>sernia</li>
    <li>develop</li>
    <li>news</li>
    <li>devSite</li>
</ul>*@
<ul class="list-inline m-2">
    <li class="list-inline-item">H</li>
    <li class="list-inline-item">PROFILE</li>
    <li class="list-inline-item">DEVELOP</li>
</ul>