<div class="navMenu" style="background:#222 ; width: 150px; height: 100%; position: absolute; z-index: 10; left: -150px;">
    <div style="width: 100%; text-align: right;" class="navMenuHeader">
        <span class="navMenuClose"><i class="icono-cross" style="margin: 0; color: #FFF;"></i></span>
    </div>
    <br />
    <ul>
        <li style="background-color: #760036; font-size: 20px;"><span><span style="font-size: 12px; margin: 0 45px 0 53px; vertical-align: middle; ">TOP</span><i class="icon ion-home"></i></span></li>
        <li style="background-color: #eee; border-bottom: 1px solid #ccc; color: #000; font-size: 20px; height: 35px;"><span><span style="font-size: 12px; margin: 0 40px 0 45px; vertical-align: middle; ">sernia</span><i class="icon ion-chatbox-working"></i></span></li>
        <li style="background-color: #eee; border-bottom: 1px solid #ccc; color: #000; font-size: 20px; height: 35px;"><span><span style="font-size: 12px; margin: 0 34px 0 40px; vertical-align: middle; ">develop</span><i class="icon ion-code"></i></span></li>
        <li style="background-color: #eee; border-bottom: 1px solid #ccc; color: #000; font-size: 20px; height: 35px;"><span><span style="font-size: 12px; margin: 0 45px 0 45px; vertical-align: middle; ">news</span><i class="icon ion-earth"></i></span></li>
        <li style="background-color: #eee; border-bottom: 1px solid #ccc; color: #000; font-size: 20px; height: 35px;"><span><span style="font-size: 12px; margin: 0 37px 0 40px; vertical-align: middle; ">devSite</span><i class="icon ion-star"></i></span></li>
    </ul>
</div>