.devView {
    margin: 20px;
    cursor: pointer;
    background-color: #FFF;
}

.listHeader {
    border: 1px solid #EEE;
    height: 100px;
}
/*講座詳細*/
.devDetails {
    font-size: 12px;
    clear: both;
    text-align: left;
    padding: 10px;
    background-color: #FFF;
}
