.logo{
    font-family: 'Raleway', sans-serif;
    width: 350px;
    float: left;
}
.logo1{
    margin-top: 30px;
    font-size: 70px;
}
.logo2{
    font-size: 20px;
    float:right;
}
.logo3{
    clear: both;
    margin: 35px 0 0 40px;
    font-size: 13px;
}

.topMenu{
    float: left;
    width: 550px;

}

.ulTopMenu{
    margin: 50px 0 0 40px;
    list-style:none;
}
.ulTopMenu li{
    padding: 20px;
    float: left;
    cursor: pointer;
    background-color: #FFF;
}